body {
  background-color: $black_bis;
}

// 

.block {
  position: absolute;

  width: 100px;
  height: 100px;
  
  border: 1px solid white;
  
  transform: translate(-50%, -50%);
  
  transition: 1s ease;
  
  &.red {
    background: #ff3535;
    top: 50%;
    left: 50%;
  }
  &.blue {
    background: #0486ff;
    top: 50%;
    left: 50%;
    border-radius: 50%;
  }
}

.fixed {
  z-index: 99;
}